<?xml version='1.0' encoding='utf-8'?>
<robot name="example_robot">
    <link name="CAM_BACK_RIGHT" />
    <link name="RADAR_FRONT_LEFT" />
    <link name="RADAR_FRONT_RIGHT" />
    <link name="base_link" />
    <link name="center" />
    <link name="RADAR_FRONT" />
    <link name="RADAR_BACK_LEFT" />
    <link name="LIDAR_TOP" />
    <link name="CAM_FRONT" />
    <link name="CAM_FRONT_RIGHT" />
    <link name="CAM_BACK_LEFT" />
    <link name="CAM_FRONT_LEFT" />
    <link name="CAM_BACK" />
    <link name="RADAR_BACK_RIGHT" />
    <joint name="base_link_to_RADAR_FRONT" type="fixed">
        <origin xyz="3.412 0.0 0.5" rpy="0.0 0.0 0.003490658503988659" />
        <parent link="base_link" />
        <child link="RADAR_FRONT" />
    </joint>
    <joint name="base_link_to_RADAR_FRONT_LEFT" type="fixed">
        <origin xyz="2.422 0.8 0.78" rpy="0.0 0.0 1.5421729270621893" />
        <parent link="base_link" />
        <child link="RADAR_FRONT_LEFT" />
    </joint>
    <joint name="base_link_to_RADAR_FRONT_RIGHT" type="fixed">
        <origin xyz="2.422 -0.8 0.77" rpy="0.0 0.0 -1.587900553464441" />
        <parent link="base_link" />
        <child link="RADAR_FRONT_RIGHT" />
    </joint>
    <joint name="base_link_to_RADAR_BACK_LEFT" type="fixed">
        <origin xyz="-0.562 0.628 0.53" rpy="0.0 0.0 3.04402874840331" />
        <parent link="base_link" />
        <child link="RADAR_BACK_LEFT" />
    </joint>
    <joint name="base_link_to_RADAR_BACK_RIGHT" type="fixed">
        <origin xyz="-0.562 -0.618 0.53" rpy="0.0 0.0 -3.0736993456872144" />
        <parent link="base_link" />
        <child link="RADAR_BACK_RIGHT" />
    </joint>
    <joint name="base_link_to_LIDAR_TOP" type="fixed">
        <origin xyz="0.943713 0.0 1.84023" rpy="-0.02423215133468927 0.005899684110638903 -1.568763018216323" />
        <parent link="base_link" />
        <child link="LIDAR_TOP" />
    </joint>
    <joint name="base_link_to_CAM_FRONT" type="fixed">
        <origin xyz="1.70079118954 0.0159456324149 1.51095763913" rpy="-1.5764376921877217 -0.0008050714246425894 -1.56511151565055" />
        <parent link="base_link" />
        <child link="CAM_FRONT" />
    </joint>
    <joint name="base_link_to_CAM_FRONT_RIGHT" type="fixed">
        <origin xyz="1.5508477543 -0.493404796419 1.49574800619" rpy="-1.5844452132424829 0.00905553360309086 -2.5552387828072316" />
        <parent link="base_link" />
        <child link="CAM_FRONT_RIGHT" />
    </joint>
    <joint name="base_link_to_CAM_BACK_RIGHT" type="fixed">
        <origin xyz="1.0148780988 -0.480568219723 1.56239545128" rpy="-1.5870639609543582 0.010805241962327239 2.77857665711049" />
        <parent link="base_link" />
        <child link="CAM_BACK_RIGHT" />
    </joint>
    <joint name="base_link_to_CAM_BACK" type="fixed">
        <origin xyz="0.0283260309358 0.00345136761476 1.57910346144" rpy="-1.5540515728400097 0.0040002398049523435 1.568374595191292" />
        <parent link="base_link" />
        <child link="CAM_BACK" />
    </joint>
    <joint name="base_link_to_CAM_BACK_LEFT" type="fixed">
        <origin xyz="1.03569100218 0.484795032713 1.59097014818" rpy="-1.5868073350278946 -0.003755647612541324 0.32463553687323526" />
        <parent link="base_link" />
        <child link="CAM_BACK_LEFT" />
    </joint>
    <joint name="base_link_to_CAM_FRONT_LEFT" type="fixed">
        <origin xyz="1.52387798135 0.494631336551 1.50932822144" rpy="-1.568348938907138 0.0021194596695255363 -0.6080558793627238" />
        <parent link="base_link" />
        <child link="CAM_FRONT_LEFT" />
    </joint>
    <joint name="base_link_to_center" type="fixed">
        <origin xyz="0.8 0.0 0.5" rpy="0.0 0.0 0.0" />
        <parent link="base_link" />
        <child link="center" />
    </joint>
</robot>
